<div class="wrap">
 
    <div class="central">
        <div class="mainpic">
            <img src="../assets/img/team/kailas.jpg" width="330" height="460">
        </div>
        <div class="info">
            <div class="title">
                <div class="maintitle">KAILASH SINGH</div>
              <p> COMPUTER ENGINEER </p>
              <span class="onder_title"></span>
            </div>
            
                <p class="long"> Your nearest technician  <br> Kailash is a high quality professional he had good knowledge. <br>
                    Work Experience-25 years <br>
                    Fast in service
                </p>
            
            <div class="button">
                <span routerLink="/bookdone">Book now</span>
            </div>
        </div>
    </div>
    </div>

