<!--==========================
Get features Section
============================-->
<div id="Features"><div id="margin"></div>
<section id="features" class="padd-section text-center wow fadeInUp">

        <div class="container">
        <div class="section-title text-center">
        
        
          <div class="separator">
          <h4 id="fo">Your Service Expert in Delhi<br>
            Get instant access to reliable and affordable tech services.</h4>
        </div>
        
        </div>
        </div>
        
        <div class="container">
        <div class="row">
        
          <div class="col-md-4 col-lg-4">
            <div class="feature-block">
        
              <img src="../assets/img/svg/DOOR.jpg" alt="img" class="img-fluid">
              <h4>Doorstep repair in 90 minutes</h4>
              <p>On-time service
                <BR>
                  At your chosen time slot.
              <BR>
              <BR>
              </p>
              
        
            </div>
          </div>
        
          <div class="col-md-4 col-lg-4">
            <div class="feature-block">
        
              <img src="../assets/img/svg/PRO.png" alt="img" class="img-fluid">
              <h4>Experienced repair professionals</h4>
              <p>Background-verified & trained professionals
                <BR>
                We service all Brands & Models</p>
              
        
            </div>
          </div>
        
          <div class="col-md-4 col-lg-4">
            <div class="feature-block">
        
              <img src="../assets/img/svg/cp.png" alt="img" class="img-fluid">
              <h4>Customer protection</h4>
              <p> 30 Day service guarantee
                  Insurance upto 10,000 INR against Damages
                <BR>
                <BR>
                </p>
              
        
            </div>
          </div>
        
        </div>
        </div>
        
        </section></div>