<div class="container">
	<div class="at-booking-type-wrap">
		<div class="at-booking-section">
			<div class="at-booking-header">
					<div id="fo">
				<h3>Select Your Appliance</h3>  
			</div>
			
			<div class="at-booking-content">
				<ul class="at-booking-vechile-type">
					<li class="at-booking-vechile-selected" data-id="Sedan">
						<div class="at-booking-vechile-head">
							<div class="at-booking-vechile-icon">
                             
							</div>
							<h4 routerLink="/bookac">Air Conditioner</h4>
						</div>
					</li>
					<li data-id="Sedan">
						<div class="at-booking-vechile-head">
							<div class="at-booking-vechile-icon">
							
							</div>
							<h4 routerLink="/booklaptop">Laptop</h4>
						</div>
					</li>
					<li data-id="Sedan">
						<div class="at-booking-vechile-head">
							<div class="at-booking-vechile-icon">
						
							</div>
							<h4 routerLink="/bookwm">Washing machine</h4>
						</div>
					</li>
					<li data-id="Sedan">
						<div class="at-booking-vechile-head">
							<div class="at-booking-vechile-icon">
				
							</div>
							<h4 routerLink="/bookled">LCD/LED TV</h4>
						</div>
					</li>
					<li data-id="Sedan">
						<div class="at-booking-vechile-head">
							<div class="at-booking-vechile-icon">
					
							</div>
							<h4 routerLink="/bookfridge">Refrigerator</h4>
						</div>
					</li>
					<li data-id="Sedan">
						<div class="at-booking-vechile-head">
							<div class="at-booking-vechile-icon">

							</div>
							<h4 routerLink="/bookoea">Other electrical appliances</h4>
						</div>
					</li>
				</ul>
			</div></div>
		</div>
		