<!--==========================
Get features Section
============================-->
<div id="fo">
<div id="Features"><div id="margin"></div>
<section id="features" class="padd-section text-center wow fadeInUp">

        <div class="container">
        <div class="section-title text-center">
        
        
          <div class="separator">
          <h2 id="fo">Your Service Expert in Delhi<br>
            Get instant access to reliable and affordable tech services.</h2>
        </div>
        
        </div>
        </div>
        
        <div class="container">
        <div class="row">
        
          <div class="col-md-4 col-lg-4">
            <div class="feature-block">
        
              <img src="../assets/img/svg/LAPTOP.png" alt="img" class="img-fluid">
              <h4>LAPTOPS</h4>
              <P>Get Laptop Repair Service in Delhi near you within 90 minutes with 30-day post-service guarantee and Protection against Damage up to INR 10,000. <br> We provide background verified & trained experts who are good rated and promise on-time delivery at your convenience. <br> We use only provide genuine spare parts and transparent pricing for your comfort.</P>
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="feature-block">
        
              <img src="../assets/img/svg/AC.png" alt="img" class="img-fluid">
              <h4>AIR CONDITIONER </h4>
              <P>Get AC services in Delhi at your place within 90 minutes <br>We offer you a 30 Day service guarantee. <br>We provide you with background verified trained technician who is well equipped with their equipment. Only genuine spare parts are supplied with fixed pricing. Techiway will help you connect with the best AC services to cater to your needs, right at your doorstep.</P>
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="feature-block">
              <img src="../assets/img/svg/WM.jpg" alt="img" class="img-fluid">
              <h4>WASHING MACHINE</h4>
              <P>Get Washing Machine repair in Delhi near you within 90 minutes with 30-day post-service guarantee and Protection against Damage upto INR 10,000. <br> Our 4.3+ rated experts are background verified & trained, they service all brands and models. If you're tired of the frequent breakdown of your washing machine, then don't worry, we've got you covered.</P>
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="feature-block">
              <img src="../assets/img/svg/LED.jpg" alt="img" class="img-fluid">
              <h4>LCD/LED TV</h4>
              <P>Get LCD/LED TV in Delhi at your place within 90 minutes <br>We offer you a 30 Day service guarantee. <br>We provide you with background verified trained technician who is well equipped with their equipment. Only genuine spare parts are supplied with fixed pricing. Techiway will help you connect with the best LCD/LED TV services to cater to your needs, right at your doorstep.</P>
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="feature-block">
              <img src="../assets/img/svg/F.png" alt="img" class="img-fluid">
              <h4>REFRIGERATOR</h4>
              <P>Get Refrigerator Repair Service in Delhi near you within 90 minutes with 30-day post-service guarantee and Protection against Damage up to INR 10,000. <br> We provide background verified & trained experts who are good rated and promise on-time delivery at your convenience. <br> We use only provide genuine spare parts and transparent pricing for your comfort. </P>
            </div>
          </div>
          <div class="col-md-4 col-lg-4">
            <div class="feature-block">
              <img src="../assets/img/svg/EA.jpg" alt="img" class="img-fluid">
              <h4>OTHER ELECTRICAL APPLIENCES</h4>
                  <P>MICROWAVE,RO WATER PURIFIER ETC Get Repair Service in Delhi near you within 90 minutes with 30-day post-service guarantee and Protection against Damage up to INR 10,000. <br> We provide background verified & trained experts who are good rated and promise on-time delivery at your convenience. <br> We use only provide genuine spare parts and transparent pricing for your comfort.</P>
              
            </div>
          </div>
          
          
        </div>
        </div>
        
        </section></div></div>