<div class="container">
        <div class="at-booking-type-wrap">
            <div class="at-booking-section">
                <div class="at-booking-header">
                    <h3>YOU HAVE SELECTED FOR</h3>  
                </div>
                <div class="at-booking-content">
                    <ul class="at-booking-vechile-type">
                        <li class="at-booking-vechile-selected" data-id="Sedan">
                            <div class="at-booking-vechile-head">
                                <div class="at-booking-vechile-icon">
                                </div>
                                <h4>Air Conditioner</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="at-booking-section">
                <div class="at-booking-header">
                    <h3>Select Package</h3>
                </div>
                <div class="at-booking-content">
                    <div class="at-booking-package-head">
                        <div class="col_fourth at-booking-package">
                                <h4>MICROWAVE</h4>
                               
                                <div class="at-booking-package-button">
                                    <a href="tybook" class="at-booking-package-btn">Book Now</a>
                                </div>
                        </div>
                        <div class="col_fourth at-booking-package">
                                <h4>RO WATER PURIFIER</h4>
                                
                                    
                              
                                
                                <div class="at-booking-package-button">
                                    <a href="tybook" class="at-booking-package-btn">Book Now</a>
                                </div>
                        </div>
                        
                        </div>
                    </div>
                </div>
            </div>
