
<header id="header" class="header header-hide">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto"><span>TE</span>CHI<span>WAY</span></a></h1>       
      </div>              
      <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li class="menu-active">
                <li><a routerLink="/Home">Home</a>               </li> 
                <li><a routerLink="/services">Repair/Service</a> </li> 
                <li><a routerLink="/Features">Features</a>       </li>                             
                <li><a routerLink="/book">Book now</a>           </li> 
                <li><a routerLink="/view">View</a>           </li> 
                <li><a routerLink="/Team">Team</a>               </li>
                <li><a routerLink="/Newletter">Get Updates</a>   </li>                              
                <li class="menu-has-children"><a href="">Downloads</a>
                  <ul>
                    <li><a href="#">Android Apk</a></li>
                    <li><a href="#">IOS</a></li>             
                  </ul>
                </li> 
              </ul>
        </nav>  
      </div>
  </header>