<!--==========================
Team Section
============================-->
<div id="Team"><section id="team" class="padd-section text-center wow fadeInUp">

        <div class="container">
        <div class="section-title text-center">
        
          <h2 id="fo">Team Member</h2>
          <p class="separator">FOUNDER OF TECHIWAY.COM</p>
        
        </div>
        </div>
        
        <div class="container">
        <div class="row">
        
          <div class="col-xs-6 col-md-6">
            <div class="team-block bottom">
              <img src="../assets/img/team/1.jpg" class="img-responsive" alt="img">
              <div class="team-content">
                <ul class="list-unstyled">
                  <li><a href="https://www.facebook.com/divijbaluja"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <span>WEBSITE DEVELOPER</span>
                <h4>DIVIJ BALUJA</h4>
              </div>
            </div>
          </div>
        
        
        
          <div class="col-xs-6 col-md-6">
            <div class="team-block bottom">
              <img src="../assets/img/team/4.jpg" class="img-responsive" alt="img">
              <div class="team-content">
                <ul class="list-unstyled">
                  <li><a href="https://www.facebook.com/gopal.shetyre?__tn__=%2CdlC-R-R&eid=ARAKKQM153ooRd-LAyHhwWIHs07LzLkfG7iaAF_UBWEKZdVC2Exr7DpPHRPF0yDKRttUlls7rIutyJ4d&hc_ref=ARQslrHFMgUCZR42wxRvzJtqDnN5W0LfTf0ks6kpP6N6RnzLVeL11mGSEhh6GUtgngI"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
                <span>WEBSITE DEVELOPER</span>
                <h4>A.GOPAL</h4>
              </div>
            </div>
          </div>
        
        </div>
        </div>
        </section></div>
        