
<div class="container">
	<div class="at-booking-type-wrap">
		<div class="at-booking-section">
			<div class="at-booking-header">
				<h3>YOU HAVE SELECTED FOR</h3>  
			</div>
			<div class="at-booking-content">
				<ul class="at-booking-vechile-type">
					<li class="at-booking-vechile-selected" data-id="Sedan">
						<div class="at-booking-vechile-head">
							<div class="at-booking-vechile-icon">
							</div>
							<h4>Air Conditioner</h4>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="at-booking-section">
			<div class="at-booking-header">
				<h3>Select Package</h3>
			</div>
			<div class="at-booking-content">
				<div class="at-booking-package-head">
					<div class="col_fourth at-booking-package">
							<h4>WINDOW AC SERVICE/REPAIR</h4>
							<div class="at-booking-package-price-duration">
								<div class="at-booking-package-price">
									<span class="at-booking-package-price-currency"> Prices in Delhi</span>

								</div>
								
							</div>
							<ul class="at-booking-package-service-list">
								<li>Wet Servicing -	499 </li>
								<li>Installation  -	699	</li>
								<li>Un-Installation-399</li>
							</ul>
							<div class="at-booking-package-button">
								<a href="tybook" class="at-booking-package-btn">Book Now</a>
							</div>
					</div>
					<div class="col_fourth at-booking-package">
							<h4>SPLIT AC <BR>SERVICE/REPAIR</h4>
							<div class="at-booking-package-price-duration">
								<div class="at-booking-package-price">
									<span class="at-booking-package-price-currency">PRICE IN DELHI</span>
									
								</div>
								
							</div>
							<ul class="at-booking-package-service-list">
								<li>Wet Servicing	599	</li>
								<li>Installation	1499</li>
								<li>Un-Installation	59</li>
								<li>Outdoor Unit Re-Installation-799</li>
								<li>Indoor Unit Re-Installation-499</li>
								<BR>
							</ul>
							<div class="at-booking-package-button">
								<a href="tybook" class="at-booking-package-btn">Book Now</a>
							</div>
					</div>
					
					</div>
				</div>
			</div>
		</div>