<div class="container">
        <div class="at-booking-type-wrap">
            <div class="at-booking-section">
                <div class="at-booking-header">
                    <h3>Thanks for booking with TECHIWAY.COM <br> Your technician will reach your home under next 2 business days</h3>  
                </div>
                <div class="at-booking-content">
                       
                             <form method="get" action="/#">
                            <button class="button" type="submit">Go back to main menu</button>
                             </form>

                            </div>
              
     


                            
                            