<div id=Hero>
<section id="hero" class="wow fadeIn">
        <div class="hero-container">

        <h1 id="q1">Welcome to <span>TE</span>CHI<span>WAY</span></h1>

        <div class="col-md-9 col-sm-9 col-xs-4" >
        <div class="flip-box">
        <div class="flip-box-inner">
        <div class="flip-box-front">

         <img src="../assets/img/hero-img.png" alt="Hero Imgs" >
        
        </div>

         <div class="flip-box-back">
                        
 <div class="box">
 <img src="../assets/img/newsletter-bg.png" alt="Flying Kites">


                <div class="text">
                <a href="login" class="btn-get-started">Log In/Sign Up</a>
                </div>



         
       
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </section><!-- #hero -->
        <br>
        <br>
        <br>
