<div class="container">
        <div class="at-booking-type-wrap">
            <div class="at-booking-section">
                <div class="at-booking-header">
                        <div id="fo">
                    <h3>FREQUENTLY ASKED QUESTIONS</h3>  
                </div>
                
                <div class="at-booking-content">
                   
                       
                           
                                <div class="at-booking-vechile-icon">
                                 
                                </div>
                                <p align="left">
                                        Q-Why do I see different prices for the same services?<br>
                                        <br>
                                        
                                        Q-Is installation offered for all services?<br>
                                        <br>
                                        
                                        Q-Is it necessary to have an account to shop on Techiway?<br>
                                        <br>
                                        
                                        Q-What does 'Bussiness days' mean?<br>
                                        <br>
                                        
                                        Q-Can i became a technician on Techiway?<br>
                                        <br>
                                        
                                        Q-How to get discount on Techiway?<br>
                                        <br>
                                        Q-Can i book more than 1 service at the same time?    
                                        
                                        
                                </p>
                            </div>
                       
                       