
h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  color: #fafafa;
  font-weight: 300;
  font-family: "Philosopher", sans-serif;
  text-transform: uppercase;
  line-height: 2; 
}

h4 {
  color: rgb(255, 250, 250);
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 2; 
  font-family: "Philosopher", sans-serif;
}

h5 {
  color: #292826;
  font-size: 14px;
  font-weight: 500;
}

a {
  letter-spacing: 2px;
  text-decoration: none;
}

ul {
  letter-spacing: 1px;
}

li {
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 30px;
  text-transform: capitalize;
}

p {
  color: #fdfcfc;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 2;
  margin-bottom: 20px;
}

span {
  letter-spacing: 1px;
}

.img-fluid {
  height: 60px;
  margin-bottom: 30px;
  width: 60px;
}

.container-full {
  padding-left: 0;
  padding-right: 0;
}

.btn {
  border: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  padding: 15px 40px;
  text-transform: uppercase;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.btn-default:hover {
  color: #fff;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.fa {
  font-size: 13px;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: #f9d342;
  line-height: 1;
  color: #fff;
  padding: 7px 12px 13px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: #f9d342;
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #f9d342;
  color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #f9d342;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 48px;
  z-index: 3;
  transition: all 0.5s ease;
}

#header #logo {
  padding: 6px 0 0 0;
}

#header #logo h1 {
  color: #fdfdfd;
  font-family: "Philosopher", sans-serif;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0;
}

#header #logo h1 a {
  color: rgb(248, 245, 245);
  line-height: 1;
  display: inline-block;
  text-decoration: none;
}

#header #logo h1 a span {
  color: #292826;
}

#header #logo img {
  padding: 0;
  margin: 0;
}

.scroll-header {
  background: #fff;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: calc(100vh - 40px);
  background: url(../src/assets/img/BG.png) center bottom no-repeat;
  background-size: 100%;
  position: relative;
  margin-top: 40px;
   
}

@media (min-width: 1025px) {
  #hero {
    background-attachment: fixed;
  }
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  font-family: "Philosopher", sans-serif;
  color: #faf2f2;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
    font-family: "Roboto", sans-serif;
  }
}

#hero h2 {
  color: #faf2f2;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

#hero img {
  max-width: 95%;
  margin-bottom: 30px;
}

#hero .btn-get-started {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 15px 36px;
  border-radius: 50px;
  transition: 0.5s;
  margin-bottom: 30px;
  border: 2px solid #f9d342;
  background: #292826;
  color: #f9d342;
  text-decoration: none;
}

#hero .btn-get-started:hover {
  background: #f9d342;
  color: #292826;
}

#hero .btns a {
  color: #faf2f2;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 4px 20px;
  text-decoration: none;
  transition: 0.3s;
}

@media (max-width: 575px) {
  #hero .btns a {
    margin: 4px 8px;
  }
}

#hero .btns a:hover {
  color: #f9d342;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 22px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 8px;
  margin-top: 1px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 0 0 0 0;
}

@media (max-width: 1024px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 8px 8px;
  text-decoration: none;
  display: inline-block;
  color: #292826;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  outline: none;
  letter-spacing: 0;
  transition: 0.3s;
}

.nav-menu li:hover > a, .nav-menu > .menu-active > a {
  color: #f1f7f1;
}

.nav-menu > li {
  margin-left: 10px;
}

.nav-menu ul {
  margin: 0;
  padding: 10px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  background: #292826;
}

.nav-menu ul li {
  transition: 0.3s;
}

.nav-menu ul li a {
  padding: 5px 10px;
  color: #faf2f2;
  transition: 0.3s;
  display: block;
  font-size: 14px;
  text-transform: none;
}

.nav-menu ul li:hover > a {
  color:  #f9d342;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 4px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
  cursor: pointer;
}

#mobile-nav-toggle i {
  color: rgb(255, 255, 255);
  font-size: 24px;
}

@media (max-width: 1024px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(52, 59, 64, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color:#faf2f2;
  font-size: 14px;
  overflow: hidden;
  padding: 6px 22px 6px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
  letter-spacing: 0;
}

#mobile-nav ul li a:hover {
  color: #faf2f2;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #f9d342;
}

#mobile-nav ul .menu-item-active {
  color: #f9d342;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(52, 59, 64, 0.9);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
.padd-section {
  padding-bottom: 80px;
  padding-top: 80px;
}

@media (max-width: 992px) {
  .padd-section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.section-title {
  margin-bottom: 80px;
}

@media (max-width: 992px) {
  .section-title {
    margin-bottom: 40px;
  }
}

.section-title h2 {
  font-family: "Roboto", sans-serif;
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: capitalize; 
}

.section-title .separator {
  margin: 0;
}

.separator {
  color: #fafafa;
  font-family: "Philosopher", sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: capitalize;
}

/* Get Started Section
--------------------------------*/
#get-started {
  display: inline-block;
  height: 100%;
  width: 100%;
}

#get-started .feature-block {
  background: #f9d342 none repeat scroll 0 0;
  padding: 30px 20px;
  transition: all 0.5s ease-in-out 0s;
}

@media (max-width: 991px) {
  #get-started .feature-block {
    margin-bottom: 30px;
  }
}

#get-started .feature-block:hover {
  box-shadow: 0 0 35px rgba(235, 228, 228, 0.1);
  transition: all 0.5s ease-in-out 0s;
}

#get-started .feature-block h4 {
  margin-bottom: 20px;
}

#get-started .feature-block p {
  margin-bottom: 20px;
}

#get-started .feature-block a {
  color: #302d2d;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.3s;
}

#get-started .feature-block a:hover {
  color: #f9d342;
}

/* About Us Section
--------------------------------*/
#about-us img {
  max-width: 100%;
}

#about-us .about-content {
  padding-top: 60px;
}

#about-us .about-content h2 {
  color: #080808;
  font-family: "roboto";
  font-size: 39px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

#about-us .about-content span {
  font-weight: 700;
  padding-right: 10px;
  text-transform: uppercase;
}

#about-us .about-content ul li {
  line-height: 36px;
}

#about-us .about-content ul li .fa {
  padding-right: 20px;
}

/* Features Section
--------------------------------*/
#features {
  display: inline-block;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

#features .feature-block {
  background: #f9d342 none repeat scroll 0 0;
  padding: 30px 20px;
  margin-bottom: 30px;
  transition: all 0.5s ease-in-out 0s;
  font-family: "Roboto", sans-serif;
}

#features .feature-block:hover {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease-in-out 0s;font-family: "Roboto", sans-serif;
}

#features .feature-block h4 {
  margin-bottom: 20px;
}font-family: "Roboto", sans-serif;

#features .feature-block p {
  margin-bottom: 0;
}


/* Team Section
--------------------------------*/
#team .team-block {
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  height: 254px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

@media (max-width: 991px) {
  #team .team-block {
    margin-bottom: 30px;
  }
}

#team .team-block img {
  width: 100%;
}

#team .team-block .team-content {
  background: #f9d342 none repeat scroll 0 0;
  bottom: 0;
  box-shadow: 0 0 4px 0 #f9d342, 0 0 0 0 rgba(0, 0, 0, 0.19);
  bottom: -147px;
  padding: 20px 0;
  position: absolute;
  width: 100%;
  transition: all 0.5s ease-in-out 0s;
}

#team .team-block .team-content ul {
  display: block;
  width: 100%;
}

#team .team-block .team-content ul li {
  display: inline-block;
}

#team .team-block .team-content ul li a {
  color: #292828;
}

#team .team-block .team-content ul li a .fa {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.3s;
}

#team .team-block .team-content ul li a .fa:hover {
  color: #292828;
}

#team .team-block .team-content ul > span {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#team .team-block:hover .team-content {
  bottom: 0px;
  transition: all 0.5s ease-in-out 0s;
}

/* Testimonials Section
--------------------------------*/
#testimonials .testimonials-content {
  box-shadow: 0 0 35px #302d2d;
  padding: 49px 20px;
}

#testimonials .testimonials-content::before {
  color: #f9d342;
  content: "ï„Ž";
  display: inline-block;
  font: 70px/1 FontAwesome;
  position: absolute;
  right: 43px;
  text-align: left;
  top: -29px;
}

#testimonials .top-top > h2 {
  font-family: "Roboto" sans-serif;
  font-size: 45px;
  font-weight: 100;
  letter-spacing: 2px;
  margin-bottom: 20px;
  text-transform: capitalize;
}

#testimonials .top-top > h4 {
  font: 700 12px Lato, sans-serif;
}

#testimonials .top-top span {
  font-size: 12px;
  font-weight: 300;
  margin-left: 26px;
}

#testimonials .btm-btm ul li {
  float: left;
  margin-left: 13px;
  border-radius: 50%;
  margin-right: 13px;
  background: #ddd none repeat scroll 0 0;
  border-radius: 50%;
  box-shadow: 0 0 35px #302d2d;
  cursor: pointer;
  display: block;
  height: 10px;
  width: 10px;
}

#testimonials .btm-btm .active {
  background: #f9d342;
}

.carousel-indicators {
  position: relative;
  bottom: 0;
  left: 0;
  bottom: 0 !important;
  z-index: 15;
  width: auto;
  padding-left: 0;
  margin: 30px auto 0 auto;
  margin-right: auto;
  text-align: center;
  list-style: none;
  margin-bottom: 0;
  display: inline-block;
}

.carousel-indicators li {
  margin: 0;
}


/* Newsletter Section
--------------------------------*/
#newsletter {
  background: transparent url(../src/assets/img/newsletter-bg.png);
  background-size: cover;
}

#newsletter .overlay {
  height: 100%;
  width: 100%;
}

#newsletter .form-control {
  background-color: transparent;
  border: 1px solid #dddddd;
 
  color: #888;
  font-size: 11px;
  font-weight: 600;
  height: 50px;
  text-align: center;
  width: 70%;
  background: #fff;
}

@media (max-width: 575px) {
  #newsletter .form-control {
    margin-bottom: 30px;
    width: 100%;
  }
}

#newsletter .form-control:focus {
  border-color: #f9d342;
  box-shadow: none;
  outline: 0 none;
}

#newsletter .btn {
  background:#f9d342;
  border: 0;
  border-radius: 0;
  height: 50px;
  width: 30%;
  transition: 0.3s;
}

@media (max-width: 575px) {
  #newsletter .btn {
    width: 100%;
  }
}

#newsletter .btn:hover {
  background: #f9d342;
}

#newsletter .btn .fa {
  padding-right: 10px;
}

#newsletter ul {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 0;
}

#newsletter ul li {
  background: #f9d342;
  border-radius: 50px;
  float: left;
  height: 35px;
  line-height: 35px;
  margin-left: 10px;
  margin-right: 10px;
  width: 35px;
  transition: 0.3s;
}

#newsletter ul li:hover {
  background: #f9d342;
}

#newsletter ul li .fa {
  color: #fff;
}

/* Contact Section
--------------------------------*/
#contact {
  background: #302d2d;
}

#contact .info {
  color: rgb(255, 255, 255);
}

#contact .info i {
  font-size: 32px;
  color: #f9d342;
  float: left;
}

#contact .info p {
  padding: 0 0 10px 50px;
  margin-bottom: 20px;
  line-height: 22px;
  font-size: 14px;
}

#contact .info .email p {
  padding-top: 5px;
}

#contact .social-links {
  padding-bottom: 20px;
}

#contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #f9d342;
  color: #fff;
  line-height: 1;
  padding: 6px 0 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#contact .social-links a:hover {
  background: #f9d342;
  color: #fff;
}

#contact .form #sendmessage {
  color: #f9d342;
  border: 1px solid #f9d342;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input, #contact .form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  padding: 12px 10px;
  line-height: 1;
}

#contact .form button[type="submit"] {
  background: #f9d342;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

#contact .form button[type="submit"]:hover {
  background: #f9d342;
}




#hero .hero-container span 
{
  color:#f9d342;
}
#margin
{
  margin-top: 50px;
}

#padding
{
  align:'center'; 

}


#fo{
  color: rgb(255, 250, 250);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 2; 
  font-family: "Philosopher", sans-serif;
}