<head>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Alex+Brush' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
  </head>
  
  <form>
    <h1>LOG IN</h1>
    <div class="form-items">
      <label for="username">Email or Username</label>
      <input type="text" id="username" required>
  
      <label for="password">Password</label>
      <input type="password" id="password" required>
  
      <p class="password"><a href="#">Forgot your password?</a>
        <p>
  
          <input type="submit" value="Log In" class="button">
    </div>
    <footer class="form-footer">
      <p>
        <p><a href="signin">Create a New Account</a></p>
    </footer>
  </form>
